.vscode
BlabberApp.Client/obj
BlabberApp.ClientTest/obj
BlabberApp.ClientTest/obj
BlabberApp.Console/obj
BlabberApp.DataStore/obj
BlabberApp.DataStoreTest/obj
BlabberApp.Domain/obj
BlabberApp.WebApi/obj
BlabberApp.WebApiTest/obj
BlabberApp.ClientTest/obj
BlabberApp.ClientTest/obj/Debug/netcoreapp3.1/BlabberApp.ClientTest.assets.cache
BlabberApp.DomainTest/bin
BlabberApp.ClientTest/obj/BlabberApp.ClientTest.csproj.nuget.cache
BlabberApp.ClientTest/obj/BlabberApp.ClientTest.csproj.nuget.dgspec.json
BlabberApp.ClientTest/obj/project.assets.json
BlabberApp.ClientTest/obj/BlabberApp.ClientTest.csproj.nuget.cache
BlabberApp.WebApiTest/obj/BlabberApp.WebApiTest.csproj.nuget.cache
BlabberApp.WebApiTest/obj/BlabberApp.WebApiTest.csproj.nuget.dgspec.json
BlabberApp.WebApiTest/obj/project.assets.json
BlabberApp.Services/obj/BlabberApp.Services.csproj.nuget.cache
BlabberApp.Services/obj/BlabberApp.Services.csproj.nuget.dgspec.json
BlabberApp.Services/obj/BlabberApp.Services.csproj.nuget.g.props
BlabberApp.Services/obj/BlabberApp.Services.csproj.nuget.g.targets
BlabberApp.Services/obj/project.assets.json
BlabberApp.Services/obj/Debug/netstandard2.0/BlabberApp.Services.AssemblyInfo.cs
BlabberApp.Services/obj/Debug/netstandard2.0/BlabberApp.Services.AssemblyInfoInputs.cache
BlabberApp.Services/obj/Debug/netstandard2.0/BlabberApp.Services.assets.cache
BlabberApp.Services/obj/Debug/netstandard2.0/BlabberApp.Services.csprojAssemblyReference.cache
